*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('imgs/bg-inicio-site.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.interface{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.logo-branca{
    width: 50px;
}

ul{
    display: flex;
    list-style-type: none;
}

li > a{
    margin: 50px;
    text-decoration: none;
    font-size: 40px;
}

@media (max-width: 1300px) {
    .interface{
        flex-direction: column;
        justify-content: center;
    }
    ul{
        flex-direction: column;
        margin: 30px;
    }
    li{
        margin-bottom: 20px;
    }
    li > a{
        margin: 0px;
    }
}