@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('imgs/bg-inicio-site.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.interface{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.logo-branca{
    width: 50px;
}

ul{
    display: flex;
    list-style-type: none;
}

li > a{
    margin: 70px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ffffffd7;
}

button{
    padding: 13px 30px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 15px;
}

.conteudo{
    width: 70vw;
    height: 70vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.container-conteudo > p{
    width: 53%;
    text-align: justify;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffffd7;
    margin: 30px 0px;
}

.titulo{
    width: 100%;
}

.titulo > small {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 250;
    color: #ffffffd7;
}

.titulo > h2{
    margin-top: -10px;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #ffffffd7;
}

@media (max-width: 1300px) {
    .interface{
        flex-direction: column;
        justify-content: center;
    }
    ul{
        flex-direction: column;
        margin: 30px;
    }
    li{
        margin-bottom: 20px;
    }
    li > a{
        margin: 0px;
    }
}