*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

section{
    height: 101vh;
    background-color: black;
}

#primeira{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.header{
    font-size: 135px;
    text-transform: uppercase;
    background: linear-gradient(45deg,#00e3cc,#32ab9c,#009688,#06eea1);
    background-size: 400% 100%;
    animation: degrade 8s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0%{
        background-position-x: 0;
    }

    100%{
        background-position: 400%;
    }
}

.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
}

.avatar{
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
}