*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

section{
    height: 100vh;
}

#primeira{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.header{
    font-size: 135px;
    text-transform: uppercase;
    background: linear-gradient(45deg,#00e3cc,#32ab9c,#009688,#44E303);
    background-size: 400% 100%;
}

