.bannerServico{
    background: url(../../img/fundo/servicos2.jpg) no-repeat fixed;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 4em;
    padding-bottom: 4em;
    max-width: 100%;
}

.bannerServico div h1 {
    
    color: #ffffff;
    font-size: 2.925em; 
    font-weight: 700;
    letter-spacing: 6px;
    text-shadow: black 2px 2px;
    font-family: "Segoe UI",Arial,sans-serif;
}

.servicoGaleria div .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.servicoGaleria div h4 {
    background-color: #324298;
    color: #fff;
    width: 50%;
    padding: 0.5em;
    position: relative;
    margin-bottom: 0;
    border-radius: 7px 7px 0px 0px;
}

.servicoGaleria div .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 0px 7px 7px 7px;
    border-top: #324298 solid 4px;
}
/*
@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }

  .container-fluid {
    padding: 60px 50px;
}*/